.inp{
    height: 40px;
    border: 1px solid #f3f3f3;
    border-radius: 0px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    margin: 10px 0px;
}